
.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					= link_to 'Unit Admin', unit_admin_index_path
				%li
					%strong
						Edit
						= @unit.name
		.col-xs-2
	
	= form_for @unit, url: unit_admin_path( @unit ) do |f|
		.row
			.col-xs-8
				.row
					.col-sm-8
						.form-group
							= f.label :name
							= f.text_field :name, class: 'form-control'
					.col-sm-4
						.form-group
							= f.label :abbrev
							= f.text_field :abbrev, class: 'form-control'
				.row	
					.col-sm-6
						.form-group
							= f.label :base_unit_id, "Base Unit"
							= f.collection_select :base_unit_id, Franklin::Unit.where.not( id: @unit.id ).where( base_unit_id: nil ).order( :name ), :id, :name, { prompt: '-- None --' }, class: 'form-control'
					.col-sm-4
						.form-group
							= f.label :conversion_factor
							= f.text_field :conversion_factor, class: 'form-control'


			.col-xs-4
				.well

					.form-group
						= f.label :unit_type
						= f.collection_select :unit_type, Franklin::Unit.unit_types, :first, :first, {}, class: 'form-control'
						

					.form-group
						= f.label :aliases_csv, 'Aliases'
						= f.text_field :aliases_csv, class: 'form-control'


					.form-group
						= f.submit 'Update', class: 'btn btn-primary'
						.pull-right= link_to 'Cancel', :back, class: 'btn btn-default btn-sm'
