= form_for Franklin::Observation.new do |f|

	.form-group
		= f.label :metric_alias, 'Metric'
		= f.text_field :metric_alias

	Is

	.form-group
		= f.label :value
		= f.text_field :value, class: 'form-control'

	.form-group
		= f.submit 'Enter', class: 'btn btn-md'