= form_for Franklin::Observation.new do |f|
	.form_group
		=# f.collection_select :observed_id, Franklin::Metric.where( user_id: current_user.id ), :id, :title, class: 'form-control'
		=# f.hidden_field :observed_type, value: 'Franklin::Metric'
	.form-group
		= f.label :metric_alias, 'Metric'
		= f.text_field :metric_alias

	.form-group
		= f.label :value
		= f.text_field :value, class: 'form-control'

	.form-group
		= f.label :unit_alias, 'Unit'
		= f.text_field :unit_alias
	.form-group
		= f.submit 'Enter', class: 'btn btn-md'