
.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					%strong
						Food Admin
						= "(#{pluralize @foods.total_count, 'Food'})"

		.col-xs-2
			%a.btn.btn-success{ data: { toggle: :modal, target: '#new_food' } }
				%i.fa.fa-plus-square
				New

	.row
		.col-xs-6
			= raw paginate @foods
		.col-xs-6
			= form_tag food_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', food_admin_index_path, class: 'btn btn-default btn-xs'

	.row
		%table.table.table-striped
			%thead
				%th
					Name
				%th
					Aliases
				%th
					Serving Amount
				%th
					Serving Unit
				%th




			%tbody
				- @foods.each do |food|
					%tr
						
						%td
							%a{ href: edit_food_admin_path( food ) }
								= food.name
						
						%td
							= food.aliases_csv

						%td
							= food.serving_amount

						%td
							= food.serving_unit



= render 'new_modal'